.DS_Store
.project_b_cli_config.yml
.pgadmin_histoqueries
.bash_history
.zsh-update
.pgpass
.vim/.netrwhist
.vim/ruby/*
.vim_nvim/.netrwhist
foobar.txt
tmux-client*
tmux-server*
compile-cache
.node-gyp
.atom/**
.node/**
.apm
.exercism.json
storage
merge-conflicts
node_modules
*/plugged/*
.tmux/resurrect/*
.tmux/plugins
.rbenv
.netrwhist
.oh-my-zsh/**
