.DS_Store
.pgadmin_histoqueries
.bash_history
.zsh-update
.pgpass
.vim/.netrwhist
.vim/ruby/*
tmux-client*
tmux-server*
compile-cache
.node-gyp
.atom/**
.node/**
.apm
storage
merge-conflicts
node_modules
.vim/plugged/*
.tmux/resurrect/*
