[submodule ".vim/bundle/vim-ack"]
	path = .vim/bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-blackboard"]
	path = .vim/bundle/vim-blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-jasmine"]
	path = .vim/bundle/vim-jasmine
	url = git://github.com/claco/jasmine.vim.git
[submodule ".vim/bundle/vim-makegreen"]
	path = .vim/bundle/vim-makegreen
	url = git://github.com/reinh/vim-makegreen.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-rename"]
	path = .vim/bundle/vim-rename
	url = git://github.com/vim-scripts/Rename.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-ruby-minitest"]
	path = .vim/bundle/vim-ruby-minitest
	url = git://github.com/sunaku/vim-ruby-minitest.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-tabular"]
	path = .vim/bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-tmux-config"]
	path = .vim/bundle/vim-tmux-config
	url = git://github.com/pivotal/tmux-config.git
[submodule ".vim/bundle/vim-tlib"]
	path = .vim/bundle/vim-tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".oh-my-zsh"]
  path = .oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-bufexplorer"]
	path = .vim/bundle/vim-bufexplorer
	url = git://github.com/corntrace/bufexplorer.git
[submodule ".vim/bundle/vim-fuzzyfinder"]
	path = .vim/bundle/vim-fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/vim-l9"]
	path = .vim/bundle/vim-l9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-zenburn"]
	path = .vim/bundle/vim-zenburn
	url = git://github.com/vim-scripts/Zenburn.git
[submodule ".vim/bundle/vim-ctrlp"]
	path = .vim/bundle/vim-ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-ember-script"]
	path = .vim/bundle/vim-ember-script
	url = git://github.com/heartsentwined/vim-ember-script.git
[submodule ".vim/bundle/vim-syntastic"]
	path = .vim/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-haskellmode"]
	path = .vim/bundle/vim-haskellmode
	url = git@github.com:lukerandall/haskellmode-vim.git
[submodule ".vim/bundle/vim-ghcmod"]
	path = .vim/bundle/vim-ghcmod
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/vim-neco-ghc"]
	path = .vim/bundle/vim-neco-ghc
	url = git@github.com:ujihisa/neco-ghc.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vim-hspec"]
	path = .vim/bundle/vim-hspec
	url = git@github.com:hspec/hspec.vim.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule ".vim/bundle/vim-jshint"]
	path = .vim/bundle/vim-jshint
	url = git@github.com:wookiehangover/jshint.vim.git
[submodule ".vim/bundle/vim-vimproc"]
	path = .vim/bundle/vim-vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-gist"]
	path = .vim/bundle/vim-gist
	url = git@github.com:mattn/gist-vim.git
[submodule ".vim/bundle/vim-web-api"]
	path = .vim/bundle/vim-web-api
	url = git@github.com:mattn/webapi-vim.git
[submodule ".vim/bundle/vim-ultisnips-dgdosen"]
	path = .vim/bundle/vim-ultisnips-dgdosen
	url = git@github.com:dgdosen/ultisnips.git
[submodule ".vim/bundle/vim-railscasts"]
	path = .vim/bundle/vim-railscasts
	url = git@github.com:jgdavey/vim-railscasts.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/bundlevim-fireplace"]
	path = .vim/bundlevim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
