<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.agidevelopment.projectb_gmax_egps_audit</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/dgdosen/.dotfiles/daily/projectb_gmax_egps_audit.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>1</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/dgdosen/log/projectb_gmax_egps_audit.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/log/projectb_gmax_egps_audit.error.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
