<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.makerboarding.project_b_harrington_scrape</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dgdosen/.dotfiles/daily/project_b_harrington_scrape.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>19</integer>
        <key>Minute</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>21</integer>
        <key>Minute</key>
        <integer>15</integer>
      </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/log/project_b_harrington_scrape.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/log/project_b_harrington_scrape.err</string>
  </dict>
</plist>
