<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.makerboarding.project_b_twinspires_scrape</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dgdosen/.dotfiles/daily/project_b_twinspires_scrape.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/log/project_b_twinspires_scrape_cli.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/log/project_b_twinspires_scrape_cli.err</string>
  </dict>
</plist>
