<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.agidevelopment.bear_weekly_create</string>
      <key>ProgramArguments</key>
      <array>
        <string>/Users/dgdosen/.dotfiles/daily/bear_weekly_create.sh</string>
      </array>
      <key>StartCalendarInterval</key>
      <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>50</integer>
        <key>Weekday</key>
        <integer>0</integer>
      </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/Public/bear_weekly_create.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/Public/bear_weekly_create.err</string>
    <key>SessionCreate</key>
    <true/>
  </dict>
</plist>
