<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.makerboarding.project_b_fetch_scratches</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dgdosen/.dotfiles/daily/project_b_fetch_scratches.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/log/project_b_fetch_scratches.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/log/project_b_fetch_scratches.err</string>
  </dict>
</plist>
