<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.agidevelopment.zettelupdate</string>
      <key>ProgramArguments</key>
      <array>
        <string>/Users/dgdosen/.dotfiles/daily/zettelupdate.sh</string>
      </array>
      <key>StartCalendarInterval</key>
      <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>45</integer>
      </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/Public/filezettelupdate.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/Public/filezettelupdate.err</string>
    <key>SessionCreate</key>
    <true/>
  </dict>
</plist>
