<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.agidevelopment.brewupdate</string>
      <key>ProgramArguments</key>
      <array>
        <string>/Users/dgdosen/.dotfiles/daily/cronbrew.sh</string>
      </array>
      <key>StartCalendarInterval</key>
      <dict>
        <key>Hour</key>
        <integer>1</integer>
        <key>Minute</key>
        <integer>6</integer>
      </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/log/filebrew.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/log/filebrew.err</string>
    <key>SessionCreate</key>
    <true/>
  </dict>
</plist>
