<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.makerboarding.project_b_drf_fetch</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dgdosen/.dotfiles/daily/project_b_drf_fetch.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>7</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/dev/project_b_drf_scrape_cli/scrape.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/dev/project_b_drf_scrape_cli/scrape.err</string>
  </dict>
</plist>
