<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.danieldosen.blog_publish</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/dgdosen/.dotfiles/daily/blog_publish.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>0</integer>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/dgdosen/logs/blog_publish.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/dgdosen/logs/blog_publish.err</string>
    <key>SessionCreate</key>
    <true/>
  </dict>
</plist>
